* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b0914;
  color: #e0e0e0;
  font-family: 'Noto Serif KR', serif;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
