* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b0914;
  color: #ffffff;
  font-family: 'Noto Serif KR', serif;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
}
